@model InstaSharp.Models.UserInfo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InstaSharp</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-responsive.min.css")
    @Styles.Render("~/Content/kendo/2013.1.319/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/2013.1.319/kendo.bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/flat-ui.css")
    @Styles.Render("~/Content/style.css")
</head>
<body>
   
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">
                    <img src="@Url.Content("~/Content/images/instasharp-smallish.png")" />
                </a>
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="collapse nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
						    <a href="#" class="dropdown-toggle usermenu" data-toggle="dropdown">
							    <img alt="profile" class="thumb img-circle" src="@Model.Profile_Picture" >
                                <strong>@Model.Username</strong>
						    </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://instagram.com/accounts/edit/" target="_blank">Profile</a></li>
                                <li><a href="#/">Your Feed</a></li>
                                <li><a href="#/self">Your Photos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="application"></div>

    <script>

        // we get a user object back on load. cheat and put this in memory for later
        (function() {
            var APP = window.APP || {};
            APP.user = {
                username: "@Model.Username",
                profile_picture: "@Model.Profile_Picture",
                id: "@Model.Id"
            };
        }())

    </script>

    <script src="@Url.Content("~/Scripts/require.js")" data-main="@Url.Content("~/Scripts/app/main.js")"></script>

</body>
</html>
